* {
  box-sizing: border-box;
}

:root {
  --dark-purple-color: #13014a;
  --purple-color: #3c228a;
  --light-blue-color: #a8b7e9;
  --white-color: #ffffff;
  --volt-color: #eaf100;
}

.container {
  width: 100%;
  max-width: 1200px;
  /* 1100–1280 arası idealdır */
  margin: 0 auto;
  padding: 0;
  /* mobile safe padding */
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #fff;
  color: var(--dark-purple-color);
}

/* HERO */
.hero {
  min-height: 100vh;
  padding: 24px;
  display: flex;
  align-items: center;
}

/* INNER WRAPPER */
.hero-inner {
  width: 100%;
  max-width: 1200px;
  min-height: calc(100vh - 48px);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: space-evenly;
  /* MOBILE: yuxarı-aşağı */
  gap: 40px;
}

.hero-content {
  min-width: 100px;
}

/* SOL HİSSƏ */
.hero-content h1 {
  font-size: 42px;
  line-height: 1.1;
  margin: 0;
}

.hero-content h2 {
  font-size: 38px;
  line-height: 1.1;
  margin: 0;
  margin-top: 8px;
}

.hero-content p {
  margin: 16px 0;
  opacity: 0.8;
  max-width: 420px;
}

.cta {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #000;
  background: #ff6a00;
  padding: 14px 20px;
  border-radius: 12px;
  font-weight: 600;
}

/* MEDIA WRAPPER */
.media {
  width: 100%;
  max-width: 500px;

  aspect-ratio: 1 / 1;
  /* kvadrat – istəsən 16/9 edə bilərsən */
  border-radius: 20px;
  overflow: hidden;

  /* Game style shadow */
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  background: #000;
  /* GIF yüklənənə qədər */
}

/* GIF özü */
.media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* SAĞ HİSSƏ */
.hero-visual {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-visual img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

/* INFO */

.info,
.video {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 24px;
}

.info-text {
  opacity: 0.75;
}

.info-highlight {}



/* DAYS */

.days-grid {
  display: grid;
  grid-template-columns: 1fr;
  /* mobile: 1 column */
  gap: 16px;
  padding: 16px;
}

.day-card {
  aspect-ratio: 1 / 1;

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 12px;
  position: relative;
}

.day-number {
  position: absolute;
  font-weight: 600;
  top: 14px;
  right: 18px;
  font-size: 14px;
  color: var(--dark-purple-color);
}

.day-card:hover {
  transform: translateY(-4px);
}

.day-card.locked {
  opacity: 0.4;
}

.day-card.final {
  border: 2px solid #ff6a00;
}

.day-logo {
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.day-code {
  width: 25px;
  position: absolute;
  top: 10px;
  left: 14px;
  opacity: 0.5;
}

.day-video {
  width: 30px;
  position: absolute;
  top: 10px;
  left: 54px;
  opacity: 0.5;
}

.day-video img,
.day-code img {
  width: 100%;
}

.day-card h3 {
  margin: 0;
  font-size: 18px;
}

.day-card .links {
  display: flex;
  gap: 8px;
}

.day-card .links a {
  text-decoration: none;
  color: #ff6a00;
  background: #1f1f1f;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 12px;
}

.day-card.locked span {
  color: #ff6a00;
  font-size: 12px;
}

/* SOCIALS */
.socials a {
  display: block;
  margin-top: 12px;
  text-decoration: none;
  background: #1f1f1f;
  padding: 14px;
  border-radius: 12px;
  color: #ff6a00;
  text-align: center;
}

/* FOOTER */
footer {
  padding: 24px;
  text-align: center;
  font-size: 12px;
  opacity: 0.5;
}


#typing {
  color: var(--dark-purple-color);
  border-right: 2px solid #ff6a00;
  padding-right: 6px;
  animation: blink 0.8s infinite;
}

@keyframes blink {

  0%,
  50% {
    border-color: transparent;
  }

  100% {
    border-color: #ff6a00;
  }
}

@media (min-width: 640px) {
  .container {
    padding: 0 20px;
  }

  .days-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Orta ekran */
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }

  .hero-inner {
    flex-direction: row;
    /* SOLDAN SAĞA */
    align-items: center;
  }

  .hero-content {
    flex: 1;
  }

  .hero-visual {
    flex: 1;
    justify-content: flex-end;
  }

  .hero-content h1 {
    font-size: 56px;
  }

  .days-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Böyük ekran */
@media (min-width: 1024px) {
  .container {
    padding: 0 70px;
  }

  .days-grid {
    grid-template-columns: repeat(4, 1fr);
  }


}